.grid-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap : 20px;
}
.grid-container>div{
    background-color: #0000008f;
    min-height: 20px;
    text-align  :center;
}
img{
    border-radius: 50%;
    height: 140px;
    border: 5px dotted  #ffc107;
}
.nameDiv{
    top: 122px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 27px;
    font-weight: 500;
    padding: 5px 17px 5px 17px;
    background-color: #ffc107 !important;
    color: black;
    position : absolute;
}
.iconContainer{
    width: 50px;
    height: 50px;
    position: relative;
    background-color: #0000008f;
    border: 5px dotted #ffc107;
    color:#ffc107;
    display: flex;  
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.topicContainer{
    display: flex;
    align-items: center
}
.iconContainer i{
    z-index: 1;    
}
.topic{
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: 500;
    padding: 10px;
    color: #0000008f;
}
.leftContent{
    border-right: 2px solid #e1d3d3;
}
.skillTitle{
    margin-left : 5pc;
}
.skillProgress{
    position: relative;
    display: flex;
    align-items: center;
}
.progress{
    position: absolute;
    width: 70%;
    margin-left:80px;
    background-color: rgb(110, 98, 98,0.3);
}
.progress-bar{
    background-color: #ffc107;
}